div {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    form {
        display: flex;
        flex-direction: column;
        width: 25%;
    
        input {
            margin: 4px 0;
        }
    }
}